// Save this file as secrets.h

// Machine type (ie. "pop" or "snack")
#define MACHINE ""

// Proxy URL. probably one of:
// "portalproxy-dev.dns.t0.vc"
// "portalproxy.dns.t0.vc"
#define PROXY_URL ""

// VEND API token configured on the portal
#define VEND_API_TOKEN ""
